**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/out
**/terraform
**/helm
**/*.log
**/logs
**/temp
**/secrets.json
**/appsettings.Development.json
!**/appsettings.json
!**/appsettings.*.json